<%- include('layout/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">About the Author</h1>
            <p class="lead mt-4">
                This website was developed by <strong>Mateusz Ambroży</strong>, a passionate student of 
                <em>IT Automation Systems</em> in his 4th year at the university. 
            </p>
            <p>
                Mateusz is dedicated to creating innovative solutions in the field of automation and control systems, 
                with a strong focus on leveraging technology to improve efficiency and functionality.
            </p>
            <p class="mt-4">
                For inquiries, feel free to reach out via email at: 
                <a href="mailto:mambrozy.mateusz@gmail.com" class="text-decoration-none text-primary">
                    mambrozy.mateusz@gmail.com
                </a>
            </p>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
